*{
    /* font-family: "Roboto Serif", serif; */
    font-family: "Pangolin", cursive;
    font-size:10px;
    color:#523120;
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    margin: 0px;
    padding: 0px;
    scrollbar-color: #b4d2f1 #89D3D2;
    -webkit-overflow-scrolling: touch;
}
body{
    margin: 0px;
    color: #523120;
    padding: 0px;
   

}
 ul{
    list-style: none;
    list-style-type: none;
    list-style: none;
}

strong{
    font-weight: 300;
}
.precio{
    font-size: 1.5vw;
    margin: 0px;
}
.button {
    background-color: #b4d2f1; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 10px; /* Esquinas redondeadas */
    font-size: 16px; /* Tamaño de la fuente */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s ease; /* Transición suave en hover */
    margin-bottom: 0.5vw;
}
.button:hover {
    background-color: hsl(211, 72%, 73%); /* Color de fondo al pasar el cursor */
}

button:active {
    background-color: #004085; /* Color de fondo al hacer clic */
    transform: scale(0.98); /* Efecto de presionado */
}


.land_cat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(closest-side, #D7E3DF, #ebf8e1, #FAE7C4);
    animation:Change-color 6s ease infinite;
    background-size: 300% 300%;

}
@keyframes Change-color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }

}
.titulo_cat{
    display: flex;
    font-size: 5vw;
    /* padding: 0.5vw;; */
    text-align: center;
    align-self:center;
    margin-right: 17vw;

    
}
.Contenerod_Titulo{
    background: linear-gradient(45deg,
    #89D3D2 , 
    #aedbdb , 
    #89D3D2, 
    #aedbdb, 
    #FFFFFF  );
    animation:Change-color 8s ease infinite;
    background-size: 300% 300%;
    width: 100%;
    position: sticky;
    top: 0;
    border-bottom:0.2vw  solid black;
    display: flex;
    justify-content:flex-end;
    align-content: center;
   

}
header img {
   align-self: flex-end;
   
}
header a p{
    width: 1.5vw;
    height: 1.5vw;
    margin-top: 2vw;
    font-size: 2rem;
    border-radius: 100%;
    background-color: #3073bb;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    text-decoration: none;
}

header a {
    display: flex;
    align-items:flex-start;
    align-content: first baseline;
}
.botones{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(45deg,
    #89D3D2 , 
    #aedbdb , 
    #89D3D2, 
    #aedbdb, 
    #FFFFFF );
    animation:Change-color 8s ease infinite;
    background-size: 300% 300%;
    padding: 1vw;
    position: sticky;
    bottom: 0;
    border-top:0.2vw  solid black;
    text-decoration: none;
    
}
.boton{
    font-size: 2.5vw;
    border:0.5vw solid #FAE7C4;
    border-radius: 5vw;
    padding: 0.5vw;;
    background-color:#c4dbdb ;
    text-decoration: none;
    color: #523120;
}
.boton:hover{
    background-image: url(./Archivos/todostods.jpg);
    background-size: contain;
    border:none;
    border:0.5vw solid #ffffff;
    color: #FFFFFF;




}
@keyframes Change-color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }

}

.text_cat{
    border: none;
    background-color: transparent;

}
.text_cat:hover{
    background-image: none;
    color:#523120;
    border:none;


}

h6{
    display: none;
}

.container_foto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.2vw solid black;
    border-radius: 2vw;
    background-color:#FFFFFF ;
    margin: 1.1vw;
    
  
    
}
.nombre_amigui{
    font-size: 2vw;
    padding: 0;
    margin: 0;

}
.descrip{
    font-size: 1vw;
    padding: 0;
    margin: 0;
    width: 18vw;
    text-align: center;
    margin: 0.1vw;

}
.fotos_cat{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2vw;
}

@media(max-width:1000px){

    .Contenerod_Titulo{
        display: flex;
        justify-content: center;
    }
    .titulo_cat{
    
        font-size: 8vw;
        display: none;
        
    }
   
    .precio{
        font-size: 5vw;
    }
    .descrip{
        font-size: 5vw;
        padding: 0;
        margin: 0;
        width: 70vw;
        text-align: center;
        margin: 0.1vw;
    }    

    .nombre_amigui{
        font-size: 8vw;
        padding: 0;
        margin: 0;
    
    }
    .boton{
        font-size: 6vw;
        border:0.5vw solid #F0DACD;
        border-radius: 5vw;
        padding: 0.5vw;;
        background-color:#c4dbdb ;
        text-align: center;
        width: 60vw;
    }
    .botones{

        align-items: center;
    }
    .text_cat{
        display: none;
    }
    .button {
        margin-bottom: 2vw;
    }
}

#Numero{
    width: 23px;
    height: 23px;
}





#celular{ display: none;}
@media(max-width:289px){

    body *:not(#celular){
        display: none;
    }

    #celular{
        display: block;
        height: 100vh;  
        color: #000000;
        font-size: 50px;
        font-style: italic;
        font-weight: bolder;
        background: radial-gradient(closest-side, #D7E3DF, #ebf8e1, #FAE7C4);
        animation:Change-color 6s ease infinite;
        background-size: 300% 300%;
        margin: auto;
        text-align: center;
        display: flex;
        align-items:center ;
    }
    
    @keyframes Change-color{
        0%{
            background-position: 0 50%;
        }
        50%{
            background-position: 100% 50%;
        }
        100%{
            background-position: 0 50%;
        }
    
    }

    }

